<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ site_name }} 이메일 확인</title>
</head>
<body>
    <p>{{ user.get_username }}님의 이메일 확인</p>
    <p>아래의 링크에서 이메일 확인을 진행할 수 있습니다.</p>
    {{ protocol }}://{{ domain }}/email/verification/confirm/{{ uid }}/{{ token }}
</body>
</html>